.img {
    text-align: center;
    width: 5em;
    height: 6em;
}

.list {    
    
    height: 7em;
}

.select {
    text-decoration: none;
    border: none;
    font-weight: bold;
    background-color: transparent;
}

select option {
    padding: 20px;
}