.img {
    text-align: center;
    width: 5em;
    height: 6em;
}

.list {    
    
    height: 7em;
}

.select {
    text-decoration: none;
    border: none;
    font-weight: bold;
    background-color: transparent;
}

select option {
    padding: 20px;
}


.outer-wrapper {
    max-width: 100%;
    max-height: 100%;
}
.table-wrapper {
    overflow-y: scroll;
    height: fit-content;
    max-height: 87vh;
    margin-top: 22px;
    margin: 15px;
    padding-bottom: 20px;
}

table th{
    position: sticky;     
    top: 0px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
} 

table th, table td {    
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;   
}